.page {
    width: 73%;
    float: right;
}

.content-title {
    font-family: "FiraSansMedium";
    font-size: 35px;
    color: #414141;
    line-height: 38px;
    margin-bottom: 16px;
    font-weight: normal;
}